body {
  margin: 0;
  padding-top: 0px;
  background-color: white;
  padding-bottom: 1000px;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
  align-items: center;
  margin-bottom: 50px;
}

.contacts, .address {
    background-color: var(--purple-darker);
    color:white;
    height: 400px;
    width: 450px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;        

    text-align: left;

}

.contact-text {
    margin-bottom: 10px;
    color: white;
}

.card-format {
    width: 420px;
    word-break: break-word;
    overflow-wrap: anywhere;
    justify-content: left;
}

.titles {
    color: white; 
    margin-bottom: 20px;
    text-align: center;
    vertical-align: top;
    margin-top: 33px;
}

.newsletter-section {
    background-color: var(--purple-light);
    height: 300px;
    padding-top: 20px;

    display: flex;               /* make it flex container */
    flex-direction: column;      /* stack h2 and input vertically */
    justify-content: center;     /* center vertically in the 300px */
    align-items: center;         /* center horizontally */

    gap: 20px;                   /* space between h2 and input */
    box-sizing: border-box;
}

.newsletter-text {
    color: var(--purple-darker);
    text-align: center;
}

.subscribe-items {
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 5px;                        /* optional spacing */
    width: 60%;   
}

.search-bar {
    height: 50px;
    border-radius: 20px;
    border-width: 1px;
    padding-left: 15px;
}

.subscribe-button {
    border: 2px solid black;
    border-radius: 26px;
    background-color: var(--purple-standard);
    font-weight: 600;
}

.subscribe-button:hover {
    background-color: var(--purple-darker);
    color: var(--text-secondary);
    border-color: white;
    cursor: pointer;
}

