
.events-hero{
    position: relative;
    display: flex;
    justify-content: center;

}

.events-hero-img{
    
    width: 100%;
    filter: brightness(0.75);
}

.events-hero-stack {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}




 /* upcoming events */

 .upcoming {
    background-color: var(--bg-lavender);
    padding: 60px;
}

.upcoming-stack {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.upcoming-cards-row {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
}

.upcoming-card {
    background-color: var(--purple-dark);
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    height: 420px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    border: 2px solid black;
}

.upcoming-card-img {
    width: 100%;
    border-radius: 10px;
    height: 350px;
    border: 2px solid black;
}


.upcoming-card button {
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    gap: 30px;
    height: 100px;
    width: 150px;



    border: 2px solid black;
    font-weight: bold;
    background-color: whitesmoke;
    color: var(--purple-darkest);

}

.upcoming-card button:hover {
    background-color: var(--purple-light);
}




/* signature events */

.signature {
    padding: 20px;
    background-color: var(--bg-primary);
}

.signature-stack {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.signature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 25px;
    justify-items: center;
    margin:0 auto;
    align-items: start;
}


.signature-box{
    width: 420px;
    padding: 30px;
    border-radius: 15px;
    background-color: var(--purple-light);
    height: 310px;
    border: 2px solid black;

/*     
    display: flex;
    flex-direction: column; */
    align-items: center;
    text-align: justify;
    justify-content: center;




}

.signature-img-box {
    width: 420px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--purple-light);
    justify-self: center;
    height: 330px;
    border: 2px solid black;
}

.signature-img-box img {
    width: 100%;
    border-radius: 15px;
    border: 1px solid black;
}




/* events carousel */

.carousel {
    margin-top: 30px;
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    gap: 20px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    padding: 10px;
}

.carousel-track::-webkit-scrollbar {
    display: none;
}

.carousel-track img {
    width: 350px;
    height: 220px;

    border-radius: 15px;
    object-fit: cover;

    scroll-snap-align: center;
    flex-shrink: 0;
}



/* buttons for carousel */
.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.carousel-btn {
    background: var(--purple-darkest);
    color: white;
    border: none;
    font-size: 30px;

    width: 45px;
    height: 45px;
    border-radius: 50%;

    cursor: pointer;
}

.carousel-btn:hover {
    background: var(--purple-darker);
}
