.hero {
    position: relative;
    display: flex;
    justify-content: center;
}

.hero-img {
    position: relative;
    width: 100%;
    filter: brightness(0.75);
}

.hero-text {
    text-align: center;
    color: white;
}

.hero-stack {
    position: absolute;
    top: 60px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    color: white;
}


.mission {
    background-color: var(--bg-secondary);
    padding: 60px 0 160px 0;
}

.mission-stack {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.mission-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.mission-images {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    top: -50px;
    gap: 40px;
}

.mission-img-border {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--purple-lightest);
    width: 300px;
    height: fit-content;
    display: flex;
    justify-content: center;

}

.mission-img-border.left {
    top: 20px;
}

.mission-img-border.middle {
    top: 120px;
}

.mission-img-border.right {
    top: 20px;
}

.mission-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid black;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 60px;
    column-gap: 50px;
    margin: 0 10%;
}

.about-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*width: 500px;*/
    gap: 20px;
}

.about-cell.text {
    align-items: flex-start;
}

.about-logo {
    width: 300px;
}

.about-img-border {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--purple-light);
    /*width: 300px;*/
    height: fit-content;
    display: flex;
    justify-content: center;
}

.about-img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

@media (max-width: 768px) {
    .hero-stack {
        gap: 10px;
    }

    .hero-text.bottom {
        position: relative;
        top: 100px;
        text-wrap: nowrap;
    }

    .mission {
        padding-bottom: 100px;
    }
    .mission-text h1 {
        font-size: 24px;
        line-height: 1;
    }

    .mission-images {
        top: -20px;
        gap: 10px;
    }

    .mission-img-border {
        width: 120px;
        flex-shrink: 0;
        padding: 5px;
    }

    .mission-img-border.left {
        margin: 0;
    }

    .mission-img-border.middle {
        top: 60px;
        /*margin: 0 10px;*/
    }

    .mission-img-border.right {
        margin: 0;
    }

    .about-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .about-cell {
        width: 250px;
    }

    .about-logo {
        width: 200px;
    }
}
