.hero {
    position: relative;
    display: flex;
    justify-content: center;
}

.hero-img {
    position: relative;
    width: 100%;
    filter: brightness(0.75);
}

.hero-text {
    text-align: center;
    color: white;
}

.hero-stack {
    position: absolute;
    top: 60px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    color: white;
}


.mission {
    background-color: var(--bg-secondary);
    padding: 60px 0 160px 0;
}

.mission-stack {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.mission-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.mission-images {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    top: -50px;
    gap: 40px;
}

.mission-img-border {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--purple-lightest);
    width: 350px;
    display: flex;
    justify-content: center;

}

.mission-img-border.left {
    top: 20px;
}

.mission-img-border.middle {
    top: 120px;
}

.mission-img-border.right {
    top: 20px;
}

.mission-img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 120px 0 60px 0;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 60px;
    column-gap: 50px;
    margin: 0 10%;
}

.about-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*width: 500px;*/
    gap: 20px;
}

.about-cell.text {
    align-items: flex-start;

}

.about-logo {
    width: 300px;
}

.about-img-border {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--purple-light);
    height: fit-content;
    display: flex;
    justify-content: center;
}

.about-img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.about-objectives {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    gap: 20px;
}

.objectives-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.objectives-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    gap: 20px;
    padding: 40px 60px;
}

.objectives-cell:hover {
    .objectives-icon {
        transform: scale(1.3);
    }

}

.objectives-cell.top-left {
    background-color: var(--purple-lighter);
}

.objectives-cell.top-right {
    background-color: var(--bg-light-orange);
}

.objectives-cell.bottom-left {
    background-color: var(--bg-light-blue);
}

.objectives-cell.bottom-right {
    background-color: var(--purple-lightest);
}

.portfolios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 40px;
}

.portfolios-stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--black);
    padding: 20px;
    width: 350px;
    border-radius: 10px;
}

.portfolio:hover {
    width: 380px;
    transition: 0.5s;
}

.portfolio.outreach {
    background-color: var(--blue);
    transform: rotate(-5deg);
}

.portfolio.industry {
    background-color: var(--purple-standard);
    transform: rotate(-2deg);
}

.portfolio.events {
    background-color: var(--orange);
    transform: rotate(4deg);
}

.portfolio-img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.portfolio-button {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.portfolio-button:hover {
    background-color: var(--black);
    color: var(--text-secondary);
    cursor: pointer;
}

.join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 40px;
    background-color: var(--purple-lightest);
}

.join-img-border {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--blue-light);
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.join-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.join-button {
    border: 2px solid black;
    border-radius: 26px;
    padding: 14px 26px;
    background-color: var(--purple-standard);
    font-weight: 600;

}

.join-button:hover {
    background-color: var(--purple-darker);
    color: var(--text-secondary);
    border-color: white;
    cursor: pointer;
}

.sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 40px;
}

.sponsors-level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0 20px 0;
    .heading {
        padding-bottom: 20px;
    }
}

.sponsors-stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sponsor-cell.platinum {
    height: 300px;
}

.sponsor-cell.gold {
    height: 200px;
}

.sponsor-cell.silver {
    height: 100px;
}

.sponsor-img {
    height: 100%;
}

.sponsorship {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    gap: 40px;
    background-image: linear-gradient( white,var(--purple-dark));
    .text {
        width: 500px;
        text-align: center;
        line-height: 50px;
    }
}

@media (max-width: 768px) {
    .hero-stack {
        gap: 10px;
    }

    .hero-text.bottom {
        position: relative;
        top: 100px;
        text-wrap: nowrap;
    }

    .mission {
        padding-bottom: 100px;
    }
    .mission-text h1 {
        font-size: 24px;
        line-height: 1;
    }

    .mission-images {
        top: -20px;
        gap: 10px;
    }

    .mission-img-border {
        width: 120px;
        flex-shrink: 0;
        padding: 5px;
    }

    .mission-img-border.left {
        margin: 0;
    }

    .mission-img-border.middle {
        top: 60px;
        /*margin: 0 10px;*/
    }

    .mission-img-border.right {
        margin: 0;
    }

    .about-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .about-cell {
        width: 250px;
    }

    .about-logo {
        width: 200px;
    }

    .objectives-grid {
        grid-template-columns: 250px;
    }

    .objectives-icon {
        width: 50px;
    }

    .objectives-cell {
        padding: 20px 40px;
    }

    .portfolios-stack {
        flex-direction: column;
    }

    .portfolio {
        width: 200px;
    }

    .portfolio:hover {
        width: 240px;
    }

    .join {
        padding: 100px 0;
        gap: 50px;
    }

    .join-img-border {
        width: 250px;
    }

    .sponsors-level {
        .heading {
            padding-bottom: 0;
        }
    }

    .sponsors-stack {
        flex-direction: column;
        gap: 5px;
    }

    .sponsor-cell {
        transform: scale(0.8);
    }

    .sponsorship {
        .text {
            width: 300px;
        }
    }



}
