/*industry-hero*/
.industry-hero {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.industry-hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.industry-hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(54,21,89,0.2),
        rgba(54,21,89,0.85)
    );
}

.industry-hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.industry-hero-content.visible {
    opacity: 1;
}

/* top stats bar */
.stat {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stats-section {
    background-color: var(--bg-secondary);
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
}

.stat h1:last-child {
    font-size: 20px;
    margin-top: 10px;
}

/*for students*/
body {
    background-color: var(--purple-lightest);
}

.students-section {
    padding: 80px 20px;
    text-align: center;
}

.students-section h2 {
    color: var(--text-dark-purple);
    font-size: var(--h2-size);
}

.subtitle {
    margin-top: 10px;
    margin-bottom: 50px;
}

/*events*/
.event-card {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    width: 70%;
    margin: 40px auto;
    padding: 40px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.event-text h1 {
    font-size: 24px;
}

.event-text p {
    text-align: center;
    color: var(--text-secondary);
}

.event-text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.event-image {
    width: 100%;
    height: 280px;
}

.event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

/*small event*/
.small-events {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.small-event {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.small-event:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.small-event h5 {
    color: var(--text-secondary);
}

.small-event p {
    color: var(--text-secondary);
    font-size: var(--p-size);
}

.small-event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/*sponsors*/
.sponsors-section {
    padding: 100px 20px;
    text-align: center;
    color: var(--text-secondary);
}

.sponsors-section h2 {
    color: var(--text-dark-purple);
    font-size: var(--h2-size);
}

.sponsors-section p {
    color: var(--text-secondary);
    font-size: var(--p-size);
}

.features {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.feature-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--bg-secondary);
    color: var(--text-secondary);
    width: 60%;
    max-width:700px;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-box h5 {
    color: var(--text-secondary)
}

/*buttons*/
.buttons-section {
    padding: 120px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.buttons h3 {
    margin-bottom: 25px;
}

.button-link {
    display: inline-block;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    padding: 14px 40px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.button-link:hover {
    background-color: var(--purple-darker);
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

/*black borders for all elements*/
.event-card, .small-event, .feature-box, .button-link, .event-image img, .small-event img {
    border: 2px solid transparent;
background: linear-gradient(var(--bg-secondary), var(--bg-secondary)) padding-box,
            linear-gradient(135deg, var(--purple-darker), var(--purple-lightest)) border-box;
}