/*industry-hero*/
.industry-hero {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.industry-hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.industry-hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(54,21,89,0.2),
        rgba(54,21,89,0.85)
    );
}

.industry-hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.industry-hero-content.visible {
    opacity: 1;
}

/* top stats bar */
.stats-section {
    background-color: var(--bg-secondary);
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
}

.stat h1:last-child {
    font-size: 20px;
    margin-top: 10px;
}

/*for students*/
.students-section {
    padding: 100px 20px;
    text-align: center;
    background: var(--bg-lightest);
}

.students-section h2 {
    color: var(--text-dark-purple);
    font-size: var(--h2-size);
}

.subtitle {
    margin-top: 10px;
    margin-bottom: 50px;
}

/*events*/
.event-card {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    width: 80%;
    margin: 40px auto;
    padding: 40px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.event-text h1 {
    font-size: 24px;
}

.event-text {
    text-align: center;
}

.event-image {
    width: 100%;
    height: 220px;
    background-color: var(--purple-dark);
    border-radius: 16px;
}

/*small event*/
.small-events {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.small-event {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    width: 220px;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
}

.small-event h5 {
    color: var(--text-secondary);
}

.small-event-image {
    height: 120px;
    background-color: var(--purple-dark);
    border-radius: 12px;
    margin-bottom: 15px;
}

/*sponsors*/
.sponsors-section {
    padding: 100px 20px;
    text-align: center;
    color: var(--text-secondary);
}

.sponsors-section h2 {
    color: var(--text-dark-purple);
    font-size: var(--h2-size);
}

.features {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.feature-box {
    background: var(--bg-secondary);
    color: var(--text-secondary);
    width: 280px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.feature-box h5 {
    color: var(--text-secondary)
}

.logos-section {
    padding: 100px 20px;
    text-align: center;
    background: var(--bg-lavender);
}

.tier {
    margin-top: 40px;
    color: var(--text-dark-purple);
}

.logo-row {
    margin: 20px 0 60px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.logo-placeholder {
    width: 120px;
    height: 60px;
    background: var(--purple-light);
    border-radius: 10px;
}

/*buttons*/
.buttons-section {
    padding: 120px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.buttons h3 {
    margin-bottom: 25px;
}

.button-link {
    display: inline-block;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    padding: 14px 40px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
}

.button-link:hover {
    background-color: var(--purple-darker);
    transform: translateY(-4px);
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}