* {
    box-sizing: border-box;
    margin: 0;
}

.main-nav {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgba(54, 21, 89, 0.8);
    padding: 0 20px;
    top: 0;
}

.nav-logo {
}

.logo {
    width: 40px;
}

.nav-links {
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
    list-style: none;
}

.nav-links li {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background-color: var(--purple-darker); /* medium purple */
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  list-style: none;
  padding: 0;
  z-index: 1000;
  overflow: hidden;
}

.dropdown-content li a {
  display: block;
  padding: 12px 16px;
  color: white;
  font-weight: 500;
  transition: background 0.2s;
}

.dropdown-content li a:hover {
  background-color: var(--purple-dark); /* lighter purple on hover */
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  cursor: pointer;
  text-decoration: none;
  color: #4B0082;
}

.nav-link {
  text-decoration: none;
  color: var(--text-secondary);
  font-family: 'Inter';
  font-size: 12px;
}

.nav-link:hover {
  color: var(--purple-light);
}

.nav-links a {
    text-decoration: none;
    color: var(--text-secondary);
    font-family: 'Inter';
    font-size: 12px;
}

.nav-link:hover {
    color: var(--purple-light);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}

@media (max-width: 768px) {

    .nav-links {
        z-index: 1000;
        position: fixed;
        right: -100px;
        top: 60px;
        flex-direction: column;
        gap: 20px;
        transition: 0.3s;
        background-color: rgba(54, 21, 89, 0.8);
        width: 100px;
        height: 300px;
        justify-content: center;
        padding: 0;
    }

    .nav-links.active {
        right: 0;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}