.main-nav {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgba(54, 21, 89, 0.5);
}

.nav-logo {
    width: 100%;

}

.logo {
    width: 30px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-secondary);
    font-family: 'Inter';
    font-size: 12px;
}

.nav-links a:hover {
    color: var(--purple-darker);
}