* {
    box-sizing: border-box;
}

.main-nav {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgba(54, 21, 89, 0.8);
    padding: 0 20px;
    top: 0;
}

.nav-logo {
}

.logo {
    width: 40px;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--text-secondary);
    font-family: 'Inter';
    font-size: 12px;
}

.nav-link:hover {
    color: var(--purple-light);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: var(--white);

}

@media (max-width: 768px) {

    .nav-links {
        position: fixed;
        left: -100%;
        top: 60px;
        flex-direction: column;
        gap: 0;
        transition: 0.3s;
        background-color: rgba(54, 21, 89, 0.8);
        text-align: center;
    }

    .nav-links.active {
        left: 0;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}