.main-nav {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgba(54, 21, 89, 0.8);
    padding: 0 30px;
    top: 0px;
}

.nav-logo {
    width: 100%;

}

.logo {
    width: 40px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.nav-links li {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background-color: var(--purple-darker); /* medium purple */
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  list-style: none;
  padding: 0;
  z-index: 1000;
  overflow: hidden;
}

.dropdown-content li a {
  display: block;
  padding: 12px 16px;
  color: white;
  font-weight: 500;
  transition: background 0.2s;
}

.dropdown-content li a:hover {
  background-color: var(--purple-dark); /* lighter purple on hover */
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  cursor: pointer;
  text-decoration: none;
  color: #4B0082;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-secondary);
    font-family: 'Inter';
    font-size: 12px;
}

.nav-links a:hover {
    color: var(--purple-light);
}

@media (max-width: 768px) {
    .main-nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100px;
        height: 100vh;
        top: 0;
        left: 0;
        padding-top: 20px;
        overflow-y: auto;
    }

    .nav-links {
        flex: 1;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 20px;
    }
}